{% extends theme('layout.html') %}
{% set active = 'album' %}
{% block title %}相册 | {{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {{ img_avatar(people) }}
            <h4 class="text-center">{{ people.nickname }}</h4>
            <hr />
        </div>
        <div class="col-lg-9">
            {% set i = 0 %}
            {% for album in people.albums %}
            {% if i % 4 == 0 %}
            <div class="row">
            {% endif %}
            {% if loop.first %}
                <div class="col-lg-3">
                    <a href="{{ url_for('frontend.default_album', id=people.id) }}" class="thumbnail">
                        <img data-src="holder.js/180x180" alt="默认相册" src="{{ theme_static('image/default-cover.png') }}" style="height: 180px; width: 180px%; display: block;">
                    </a>
                </div>
                {% set i = i + 1 %}
            {% endif %}
                <div class="col-lg-3">
                    <a href="{{ url_for('photo.show_album', id=album.id) }}" class="thumbnail">
                        <img data-src="holder.js/180x180" alt="{{ album.title }}" src="{{ album.photos.first().get_uri() if album.photos.count() else theme_static('image/default-cover.png') }}" style="height: 180px; width: 180px%; display: block;">
                    </a>
                </div>
                {% set i = i + 1 %}
            {% if i % 4 == 0 or loop.last %}
            </div>
            {% endif %}
            {% endfor %}
            {% if people.id == g.user.id %}
            <hr />
            <a href="{{ url_for('photo.add_album') }}" class="btn btn-primary">新建相册</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}