{% extends theme('layout.html') %}
{% set active = 'album' %}
{% block title %}相册 | {{ title }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {{ img_avatar(photo.people) }}
            <h4 class="text-center">{{ photo.people.nickname }}</h4>
            <hr />
        </div>
        <div class="col-lg-9">
            <div class="text-center">
            <img src="{{ photo.get_uri() }}" alt="{{ photo.title }}" class="img-thumbnail">
            </div>
            {% if photo.description %}
            <hr />
            <p class="text-muted">{{ photo.description }}</p>
            {% endif %}
            <hr />
            <div class="btn-group">
                {% if photo.people_id == g.user.id %}
                <a href="{{ url_for('photo.modify_photo', id=photo.id) }}" class="btn btn-primary">修改属性</a>
                <a href="{{ url_for('photo.delete_photo', id=photo.id) }}" class="btn btn-primary">删除照片</a>
                {% endif %}
                {% if photo.album_id %}
                <a href="{{ url_for('photo.show_album', id=photo.album_id) }}" class="btn btn-primary">返回</a>
                {% endif %}
            </div>
            <div class="btn-group">
                {% if prev_id %}
                <a href="{{ url_for('photo.show_photo', pid=prev_id, aid=photo.album_id) }}" class="btn btn-primary">上一张</a>
                {% endif %}
                {% if next_id %}
                <a href="{{ url_for('photo.show_photo', pid=next_id, aid=photo.album_id) }}" class="btn btn-primary">下一张</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}