{% extends theme('admin/layout.html') %}
{% set active = 'index' %}
{% block title %}用户管理{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ url_for('admin.show_people') }}">用户管理</a></li>
                <li class="active"><a href="{{ url_for('admin.show_microblog') }}">微博管理</a></li>
                <li><a href="{{ url_for('admin.show_login_log') }}">登陆管理</a></li>
                <li><a href="{{ url_for('admin.show_visit_log') }}">访问管理</a></li>
            </ul>
        </div>
        <div class="col-lg-9">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th style="width: 40%;">微博内容</th>
                        <th>发布时间</th>
                        <th>评论</th>
                        <th>转发</th>
                        <th>收藏</th>
                        <th>转自</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for microblog in microblogs %}
                    <tr id="{{ microblog.id }}">
                        <td>{{ microblog.id }}</td>
                        <td>{{ microblog.people.nickname }}</td>
                        <td>{{ microblog.content }}</td>
                        <td>{{ microblog.post_time }}</td>
                        <td>{{ microblog.comments.count() }}</td>
                        <td>{{ microblog.reposts.count() }}</td>
                        <td>0</td>
                        <td>
                            {% if microblog.parent_microblog_id %}
                            <a href="#{{ microblog.parent_microblog_id }}">
                                {{ microblog.parent_microblog_id }}
                            </a>
                            {% else %}
                            N/A
                            {% endif %}
                        <td>
                            <a class="btn btn-primary btn-xs" href="{{ url_for('delete_microblog', id=microblog.id) }}">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ render_pagination(pagination, 'admin.show_microblog' ) }}
        </div>
    </div>
</div>
{% endblock %}

