{% extends theme('admin/layout.html') %}
{% set active = 'index' %}
{% block title %}访问管理{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li><a href="{{ url_for('admin.show_people') }}">用户管理</a></li>
                <li><a href="{{ url_for('admin.show_microblog') }}">微博管理</a></li>
                <li><a href="{{ url_for('admin.show_login_log') }}">登陆管理</a></li>
                <li class="active"><a href="{{ url_for('admin.show_visit_log') }}">访问管理</a></li>
            </ul>
        </div>
        <div class="row">
	        <div class="col-lg-12">
	            <table class="table table-hover table-responsive">
	                <thead>
	                    <tr>
	                        <th>ID</th>
	                        <th style="width: 20%; white-space: normal; word-break: break-all; word-wrap: break-word;">URL</th>
	                        <th>Method</th>
	                        <th style="width: 20%; white-space: normal; word-break: break-all; word-wrap: break-word;">Referrer</th>
	                        <th>平台</th>
	                        <th>浏览器</th>
	                        <th>版本</th>
	                        <th>IP</th>
	                        <th>访问时间</th>
	                        <th>用户名</th>
                            <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for visit_log in visit_logs %}
	                    <tr id="{{ visit_log.id }}">
	                        <td>{{ visit_log.id }}</td>
	                        <td style="width: 20%; white-space: normal; word-break: break-all; word-wrap: break-word;">{{ visit_log.url }}</td>
	                        <td>{{ visit_log.method }}</td>
	                        <td style="width: 20%; white-space: normal; word-break: break-all; word-wrap: break-word;">{{ visit_log.referrer }}</td>
	                        <td>{{ visit_log.platform }}</td>
	                        <td>{{ visit_log.browser }}</td>
	                        <td>{{ visit_log.version }}</td>
	                        <td class="ip">{{ visit_log.client_ip }}</td>
	                        <td>{{ visit_log.visit_time }}</td>
	                        <td>{{ visit_log.people.nickname if visit_log.people_id else 'N/A'}}</td>
	                        <td><a class="btn btn-primary btn-xs" href="{{ url_for('delete_visit_log', id=visit_log.id) }}">删除</a></td>
                        </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	            {{ render_pagination(pagination, 'admin.show_visit_log' ) }}
	        </div>
	    </div>
    </div>
</div>
{% endblock %}
{#
{% block script %}
<script type="text/javascript">
$(".ip").mouseover(
    function() {
        var address = get_address($(this).text());
        $(this).attr("title", address);
    }
);

function get_address(ip) {
    var address;
    $.getJSON(
        "http://api.map.baidu.com/location/ip?ak=AF28c466e7dd74686195abc876d4849b&ip=" + ip,
        function(data){
            if (data["status"] == 0) {
                address = data["address"];
            }
            else {
                address = "未知";
            }
        }
    )
    alert(address);
    return address;
}
</script>
{% endblock %}
#}
