<ul>
{% for status in statuses %}

<li>
    <img src="{{ status.user.avatar_large }}" height="60px" />
    {{ status.user.name }} <br />
    {{ status.text }}<br />
    {#
    {{ status.source|safe }}&emsp;
    #}
    {{ status.created_at }}
    <hr />
</li>
{% endfor %}
</ul>
<div style="text-align: center;">
<a {% if page > 1 %}href="{{ url_for('sinaweibo.index', page=page-1) }}"{% endif %}>上一页</a> |
<a {% if page < max_page %}href="{{ url_for('sinaweibo.index', page=page+1) }}"{% endif %}>下一页</a>
</div>
