<form method="POST" action="">
    <table>
        <tr>
            <th>{{ form.email.label }}</th>
            <td>{{ form.email }}</td>
            <td>{{ ', '.join(form.email.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.password.label }}</th>
            <td>{{ form.password }}</td>
            <td>{{ ', '.join(form.password.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.password_confirm.label }}</th>
            <td>{{ form.password_confirm }}</td>
            <td>{{ ', '.join(form.password_confirm.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.nickname.label }}</th>
            <td>{{ form.nickname }}</td>
            <td>{{ ', '.join(form.nickname.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.mobile.label }}</th>
            <td>{{ form.mobile }}</td>
            <td>{{ ', '.join(form.mobile.errors) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form.submit }}</td>
            <td></td>
        </tr>
    </table>
    {{ form.hidden_tag() }}
</form>
