{% extends theme('layout.html') %}
{% set active = 'profile' %}
{% block title %}个人资料 | {{ title }}{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {{ img_avatar(g.user) }}
            <hr />
            <div class="divider"></div>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ url_for('account.profile') }}">基本资料</a></li>
                <li><a href="{{ url_for('account.profile_detail') }}">详细资料</a></li>
                <li><a href="{{ url_for('account.password') }}">修改密码</a></li>
                <li class="active"><a href="{{ url_for('account.avatar') }}">修改头像</a></li>
            </ul>
        </div>
        <div class="col-lg-9">

            <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-6">
                        {{ img_avatar(g.user) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ avatar_form.avatar.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="avatar-type-0" name="avatar-type" type="radio" value="0" checked>
                            </span>
                            {{ avatar_form.avatar(class_="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">头像网络地址</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="avatar-type-1" name="avatar-type" type="radio" value="1">
                            </span>
                            {{ avatar_form.avatar_uri(class_="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-6">
                        {{ avatar_form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
                {{ avatar_form.hidden_tag() }}

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $("#avatar_uri").focusin(function(){
    $("#avatar-type-1").attr("checked",true);
  });
  $("#avatar").focusin(function(){
    $("#avatar-type-0").attr("checked",true);
  });
});
</script>
{% endblock %}