{% extends theme('layout.html') %}
{% set active = 'chatting' %}
{% block title %}私信 | 详情{% endblock %}
{% block content %}
<div class="container">
    <div class="row">  
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">搜索</button>
                </span>
            </div>
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li><a class="disabled">写私信</a></li>
                <li><a href="{{ url_for('friendship.show_inbox') }}"><span class="badge pull-right">{{ g.user.received_chattings.count() }}</span>收件箱</a></li>
                <li><a href="{{ url_for('friendship.show_outbox') }}"><span class="badge pull-right">{{ g.user.sent_chattings.count() }}</span>发件箱</a></li>
              </ul>
        </div>
        <div class="col-lg-9">
            <form class="form-horizontal" role="form" action="" method="POST">
                <div class="form-group">
                    <label for="people" class="col-lg-2 control-label">发信人</label>
                    <div class="col-lg-6">
                        <p class="form-control-static">{{ chatting.from_people.nickname }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="people" class="col-lg-2 control-label">收信人</label>
                    <div class="col-lg-6">
                        <p class="form-control-static">{{ chatting.to_people.nickname }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="send-time" class="col-lg-2 control-label">发送时间</label>
                    <div class="col-lg-6">
                        <p class="form-control-static">{{ chatting.chat_time }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">私信内容</label>
                    <div class="col-lg-6">
                        <p class="form-control-static">
                            {{ chatting.content }}
                        </p>
                    </div>
                </div>
                {% if g.user.id == chatting.to_id %}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-6">
                        <a class="btn btn-primary" href="{{ url_for('friendship.send_chatting', id=chatting.from_id) }}">回复</a>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}