<header>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('frontend.index') }}">Vieboo</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
            <li{%- if active == 'index' %} class="active"{% endif -%}><a href="{{ url_for('frontend.index') }}">首页</a></li>
            <li{%- if active == 'square' %} class="active"{% endif -%}><a href="{{ url_for('frontend.square') }}">微博广场</a></li>
            {% if g.user.is_authenticated() -%}
            <li{%- if active == 'people' %} class="active"{% endif -%}><a href="{{ url_for('frontend.people', id=g.user.id) }}">个人主页</a></li>
            <li class="dropdown{%- if active == 'profile' %} active{% endif -%}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        个人资料 <b class="caret"></b>
                    </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('account.profile') }}">基本资料</a></li>
                    <li><a href="{{ url_for('account.profile_detail') }}">详细资料</a></li>
                    <li><a href="{{ url_for('account.password') }}">修改密码</a></li>
                    <li><a href="{{ url_for('account.avatar') }}">修改头像</a></li>
                </ul>
            </li>
            <li class="dropdown{%- if active == 'friendship' %} active{% endif -%}">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    好友 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('friendship.show_following') }}">我关注的</a></li>
                    <li><a href="{{ url_for('friendship.show_followed') }}">关注我的</a></li>
                    <li><a href="{{ url_for('friendship.show_mutual') }}">互相关注</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('friendship.show_blocking') }}">黑名单</a></li>
                </ul>
            </li>
            {% if g.user.is_admin() %}
            <li><a href="{{ url_for('admin.index') }}">管理中心</a></li>
            {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">

            {% if g.user.is_authenticated() %}
            <li{%- if active == 'chatting' %} class="active"{% endif -%}>
                <a href="{{ url_for('friendship.show_inbox') }}">
                    私信
                    {% if g.user.received_chattings.filter_by(has_read=False).count() %}
                    <span class="glyphicon glyphicon-star" style="color: #CC3333;"></span>
                    {% endif %}
                </a>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    账号 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">设置</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('account.logout') }}">注销</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('account.register') }}">注册</a></li>
            {% endif %}
        </ul>
        {% if g.user.is_authenticated() %}
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入关键字……">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
        {% else %}
        <form class="navbar-form navbar-right" role="login" action="{{ url_for('account.login') }}" method="POST">
            <div class="form-group">
                <label for="login" class="sr-only">邮箱</label>
                <input id="login" name="login" type="text" class="form-control" placeholder="邮箱">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">密码</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="密码">
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-default">登录</button>
        </form>
        {% endif %}
    </div>
</nav>

</header>