{% extends theme('layout.html') %}
{% block content %}
{% include theme('header.html') %}
<div class="container">


    <div class="mycontainer">
        <div class="row" >
            <div class="col-lg-12">
                <form method="POST" action="{{ url_for('mblog.post') }}">
                    <div class="input-group" style="float:right;">
                        {{ post_form.content(class_='form-control') }}
                        <span class="input-group-btn">
                            {{ post_form.submit(class_='btn btn-default') }}
                        </span>
                        {{ post_form.hidden_tag() }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mycontainer ">
        {% for microblog in microblogs %}
        <div class="media">
            {% if microblog.people.id == g.user.id %}
            <a class="pull-right" href="{{ url_for('frontend.people', id=microblog.people.id) }}">
            {% else %}
            <a class="pull-left" href="{{ url_for('frontend.people', id=microblog.people.id) }}">
            {% endif %}
                <img class="media-object" style="width: 120px; height: 120px;" src="{{ 'http://tp2.sinaimg.cn/1277294185/180/40022602019/1' if not microblog.people.avatar else url_for('uploads', filename=microblog.people.avatar) }}" alt="">
                <h4 class="media-heading">{{ microblog.people.nickname }}</h4>
            </a>
            <div class="media-body">
                <div class="well well-lg">
                    {{ microblog.content }}
                    <p style="padding-top: 20px;">
                        <a href="{{ url_for('mblog.comment', mid=microblog.id) }}">评论</a>
                        <a href="{{ url_for('mblog.repost', id=microblog.id) }}">转发</a>
                        {% if microblog.people_id==g.user.id %}
                        <a href="{{ url_for('mblog.delete', id=microblog.id) }}">删除</a>
                        {% endif %}
                    </p>
                </div>
                <ul>
                    {% for comment in microblog.comments %}
                    <li>
                        {{ comment.content }}
                        <a href="{{ url_for('mblog.comment', mid=microblog.id, cid=comment.id) }}">回复</a>
                        {% if microblog.people_id==g.user.id %}
                        <a href="{{ url_for('mblog.delete_comment', id=comment.id) }}">删除</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}