{% extends theme('layout.html') %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <form class="form-horizontal" role="form" action="" method="POST">
                <div class="form-group">
                    {{ form.login.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-6">
                        {{ form.login(class_="form-control") }}
                    </div>
                    <div class="col-lg-4">
                        <p class="text-danger">{{ ', '.join(form.login.errors) }}</p>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password.label(class_="col-lg-2 control-label") }}
                    <div class="col-lg-6">
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div class="col-lg-4">
                        <p class="text-danger">{{ ', '.join(form.password.errors) }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                {{ form.remember }} 记住我
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-6">
                        {{ form.submit(class_="btn btn-primary pull-left") }}
                        <a class="btn btn-primary pull-right" href="{{ url_for('account.register') }}">注册</a>
                    </div>
                </div>
                {{ form.hidden_tag() }}
            </form>
            <hr />
            {#<a href="http://www.douban.com"><img src="http://img3.douban.com/pics/douban-icons/login_with_douban_24.png" /></a>#}

        </div>
    </div>
</div>
{% endblock %}