<table>
    <tr>
        <th>邮箱</th>
        <td>{{ people.email }}</td>
    </tr>
    <tr>
        <th>昵称</th>
        <td>{{ people.nickname }}</td>
    </tr>
    <tr>
        <th>手机</th>
        <td>{{ people.mobile }}</td>
    </tr>
    {% if g.user.id != people.id %}
    <tr>
        <td>
            {% if g.user.is_authenticated() %}
            {% if g.user.is_following(people.id) %}
            <a href="{{ url_for('friendship.unfollow', id=people.id) }}">取消关注</a>
            {% else %}
            <a href="{{ url_for('friendship.follow', id=people.id) }}">关注</a>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if g.user.is_authenticated() %}
            {% if g.user.is_blocking(people.id) %}
            <a href="{{ url_for('friendship.unblock', id=people.id) }}">移出黑名单</a>
            {% else %}
            <a href="{{ url_for('friendship.block', id=people.id) }}">加入黑名单</a>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if g.user.is_authenticated() %}
            {# {% if g.user.is_blocked(people.id) %} #}
            <a href="{{ url_for('friendship.send_chatting', id=people.id) }}">发私信</a>
            {# {% endif %} #}
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>