
{% extends theme('layout.html') %}
{% set active = 'people' %}
{% block title %}{{ people.nickname }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {{ img_avatar(people) }}
            <h4 class="text-center">{{ people.nickname }}</h4>
            <hr />
            <div class="btn-group">
                {% if g.user.is_authenticated() %}
                {% if g.user.id != people.id %}
                {% if g.user.is_blocking(people.id) %}
                <a class="btn btn-default" href="{{ url_for('friendship.unblock', id=people.id) }}">移出黑名单</a>
                {% else %}
                {% if g.user.is_following(people.id) %}
                <a class="btn btn-default" href="{{ url_for('friendship.unfollow', id=people.id) }}">取消关注</a>
                {% else %}
                <a class="btn btn-default" href="{{ url_for('friendship.follow', id=people.id) }}">关注</a>
                {% endif %}
                <a class="btn btn-default" href="{{ url_for('friendship.block', id=people.id) }}">加入黑名单</a>
                <a class="btn btn-default" href="{{ url_for('friendship.send_chatting', id=people.id) }}">私信</a>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9">
            {{ show_microblog(people.microblogs, show_author_avatar=False) }}
        </div>
    </div>
</div>
{% endblock %}

