<form method="POST" action="">
    <table>
        <tr>
            <th></th>
            <td>
                <a href="{{ url_for('account.avatar') }}">
                    <img src="{{ url_for('frontend.uploads', filename=avatar) if avatar else '' }}" style="width: 160px; height: 160px;" />
                </a>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>{{ form.email.label }}</th>
            <td>{{ form.email(readonly=True) }}</td>
            <td>{{ ', '.join(form.email.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.password.label }}</th>
            <td>{{ form.password }}</td>
            <td>{{ ', '.join(form.password.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.nickname.label }}</th>
            <td>{{ form.nickname }}</td>
            <td>{{ ', '.join(form.nickname.errors) }}</td>
        </tr>
        <tr>
            <th>{{ form.mobile.label }}</th>
            <td>{{ form.mobile }}</td>
            <td>{{ ', '.join(form.mobile.errors) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form.submit }}</td>
            <td></td>
        </tr>
    </table>
    {{ form.hidden_tag() }}
</form>
