{% extends theme('layout.html') %}
{% block content %}
    <div class="container">
    {% include theme('header.html') %}
        <div style="text-align: center;">
            <form class="form-horizontal" role="form" method="POST" action="">
                <div class="form-group">
                    {{ register_form.email.label(class_='col-sm-2 control-label') }}
                        <div class="col-xs-3">
                            {{ register_form.email(class_='form-control', placeholder='请输入邮箱地址') }}
                        </div>
                    {{ ','.join(register_form.email.errors) }}
                </div>
                <div class="form-group">
                    {{ register_form.password.label(class_='col-sm-2 control-label') }}
                        <div class="col-xs-3">
                            {{ register_form.password(class_='form-control', placeholder='请输入密码') }}
                        </div>
                    {{ ','.join(register_form.password.errors) }}
                </div>
                <div class="form-group">
                    {{ register_form.password_confirm.label(class_='col-sm-2 control-label') }}
                        <div class="col-xs-3">
                            {{ register_form.password_confirm(class_='form-control', placeholder='请再次输入密码') }}
                        </div>
                    {{ ','.join(register_form.password_confirm.errors) }}
                </div>
                <div class="form-group">
                    {{ register_form.nickname.label(class_='col-sm-2 control-label') }}
                        <div class="col-xs-3">
                            {{ register_form.nickname(class_='form-control', placeholder='请输入昵称') }}
                        </div>
                    {{ ','.join(register_form.nickname.errors) }}
                </div>
                <div class="form-group">
                    {{ register_form.mobile.label(class_='col-sm-2 control-label') }}
                        <div class="col-xs-3">
                            {{ register_form.mobile(class_='form-control', placeholder='请输入手机号码') }}
                        </div>
                    {{ ','.join(register_form.mobile.errors) }}
                </div>
                <div class="col-sm-6">
                    {{ register_form.submit(class_='button button-primary') }}
                </div>
                {{ register_form.hidden_tag() }}
            </form>
        </div>
    </div>
{% endblock %}